#img.div{
	width: 1170px;
	height: 570px;
	display: flex;
}
#div.big{
	width: 1170px;
	height: 590px;
	background-color: inherit;
	float: left;
	margin: 0 auto ;
}
#div.left
{
	width: 370px;
	height: 540px;
	float: left;
}
#div.right
{
	width: 770px;
	height: 540px;
	margin-left: 20px;
	
}
#div.top
{
	width: 770px;
	height: 256px;
	
	
}
#div.bottom
{
	width: 770px;
	height: 256px;	
}
*{
	margin: 0;
	padding: 0;
	border: 0;
    text-decoration: none;
    user-select: none;
}

#title{
	width: 100%;
	height: 20px;
}
#item1{
	width: 370px;
	height:256px ;
	float: left;
}
#item2{
	width: 370px;
	height:256px ;
}
