#div
{
	margin-left: 46px;
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: auto;
	border:solid 3px;
	border-radius: 20px;
	background-color: white;
	border-color: #29B6F6;
	float: left;
}
h2,span{
	color:  #29B6F6;
	margin-right: 5px;
	text-align: center;
	}
	p{
		line-height: 50%;
	}
img{
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-left: 6px;
	float: left;
	position:absolute;
	left:0px;
}
#div1{
	width:100px ;
	height: 100px;
	border: none;
	position: absolute;
	background-color: white;
	margin-left:0px;
	margin-top: 37px;
	float: left;
	
}
#img2{
			width: 20px;
			height: 20px;
			margin-top: -7px;
			position: relative;
			left:25px;
			}
			#div2{
				width: 40px;
				height: 20px;
				margin-leftt: 200px;
				margin-top: 210px;
				position: absolute;
				left: 314px;
				border: none;
				background-color: white;
				z-index: 1;
			}
